@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Shopping</h2>
    <img src="/images/VirtualLogo.png" class="img-fluid" asp-append-version="true" alt="Virtual Store Logo" />
</div>
